body {
  padding: 0;
  margin: 0;
  background-color: black;
  z-index: -2;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-image: url('Images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}
a {
  text-decoration: none;
}
.startGame {
  position: relative;
  width: 800px;
  height: 100px;
  margin: auto;
  top: 450px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  line-height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #361157;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}
.score {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: 80px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 40px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
  color: #361157;
}
.score .currentScore {
  font-size: 22px;
  font-weight: bold;
}
.score .highScore {
  font-size: 18px;
  font-weight: bold;
}
.timerBackground {
  background-color: #ffffff;
  position: relative;
  width: 999px;
  height: 20px;
  top: -20px;
  border-radius: 10px;
  margin: auto;
}
.timerBackground .countdown {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #8e44ad;
  animation-name: timer;
  animation-duration: 30s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.reset {
  position: absolute;
  background-color: #ffffff;
  width: 100px;
  height: 80px;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}
.reset #button {
  position: absolute;
  margin: 17.5px 24px;
}
.reset #buttonHover {
  position: absolute;
  margin: 17.5px 24px;
  opacity: 0;
  transition: opacity 0s linear;
}
.reset:hover #buttonHover {
  opacity: 1;
}
.backgroundGameOver {
  position: absolute;
  height: 975px;
  width: 100%;
  left: 0;
  background-image: url('Images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}
.tryAgain {
  position: relative;
  width: 800px;
  height: 100px;
  margin: auto;
  top: 450px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  line-height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #361157;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c0392b;
  opacity: 0.6;
}
.gameOver {
  position: relative;
  top: 285px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  color: #c0392b;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}
.finalScore {
  position: relative;
  top: 340px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
}
