body{
    background-image: url('Images/snow.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#house{
    position: relative;
    width: 60%;
    top: 13%;
    left: 35%;
    right:35%;
}
.roof{
    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid darkred;
    display: inline-block;
    margin: 10% 0 0 0;


  }
.roofPos{
    text-align: center;
    position: absolute;
    top: 50px;
    right: 545px;
    z-index: 2;
}
.wall{
    width: 480px;
    height: 400px;
    display: inline-block;
    
}
.wallPos{
    text-align: center;
    position: absolute;
    background-image: "Images\Bricks.jpg";
    top: 400px;
    z-index: 1;
}
.wall img{
    width: 480px;
    height: 400px;

}
.chimney{
    height: 200px;
    width: 80px;
    
}
.chimneyPos{
    position: absolute;
    text-align: right;
    top: 0;
    left: 120px;

    
}
.window{
    width: 120px;
    height: 120px;
    background-color: blue;
    border: 12px solid black;
}
.windowPos{
    position: absolute;
    top:100px;
    left: 40px;
}
.door{
    width: 100px;
    height: 200px;
    background-color: blue;
    border-radius:  40px 40px 0 0;
    
}
.doorPos{
    position: absolute;
    top:100px;
    left: 200px;
}
#hiGif{
    width: 120px;
    height: 120px;
}
#door{
    width: 100px;
    height: 200px;
}
.chimney img{
    height: 250px;
}